@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --foreground: #0c0a09;
        --background: #ffffff;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
